body{
  background-color:#EFA3C8;
}
.container{
  display: flex;
  justify-content: center;
  background-color: #FAD3E7;
 
}
.btn{
  display: flex;
  justify-content: space-evenly;
}
button{
  background-color: #0081B4;
  color: #FFE5F1; 
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10%;
  font-weight: 700;
  font-size: 20px;
}
h1{
  font-weight: 700;
  font-size: 50px;
  color: #27374D;
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
}